/* /scr/styles.css  */

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* navbar */

header.navbar {
  height: 80px;
  background-color: #00004c;
  display: flex;
  padding: 0 10em;
  align-items: center;
}

.navbar a {
  margin: 0 1em;
}

.forLogo {
  margin-right: 7em;
}

.navLinks {
  display: flex;
}

.activeNavLink {
  text-decoration: underline;
  font-weight: 700;
}

/* footer */

footer {
  height: 40px;
  padding-left: 2em;
  display: flex;
  align-items: center;
  background-color: #00004c;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
